@model List<Employee>

<div class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Ekibimiz</h2>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="team-member">
                        <div class="thumb-container">
                            <img src="@item.EmployeeImage" alt="">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="down-content">
                            <h4>@item.EmployeeName @item.EmployeeSurname</h4>
                            <span>@item.EmployeeTitle</span>
                            <p>@item.EmployeeDescription.Substring(0, 70)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>